
#special {

  width: 800px;
  border: 25px solid green;
  padding: 50px;
  margin: 20px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#faux-gif {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
     background-image: url(1.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: auto;
    animation: giffy 0.5s infinite linear;
}
@keyframes giffy

0% { background-image: url(2.PNG); }
12% { background-image: url(3.PNG); }
24% { background-image: url(4.PNG); }
36% { background-image: url(5.PNG);}
  { 48% { background-image: url(6.PNG); }
60% { background-image: url(7.PNG); }
76% { background-image: url(8.PNG); }
88% { background-image: url(9.PNG); }
100% { background-image: url(10.PNG);}
}
  #faux-gif:hover {
    animation-play-state:paused;
}


h3 {
 color: white; 
}
