
div {

  width: 800px;
  border: 25px solid green;
  padding: 50px;
  margin: 20px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
@keyframes pics
{ 0% { content: url(1.PNG); }
12.5% { content: url(2.PNG); }
25% { content: url(3.PNG); }
37.5% { content: url(4.PNG); }
50% { content: url(5.PNG);}
  { 60% { content: url(6.PNG); }
70% { content: url(7.PNG); }
80% { content: url(8.PNG); }
90% { content: url(9.PNG); }
100% { content: url(10.PNG);}
}
  .bar {
animation-name: pics;
animation-duration: 6s;
animation-iteration-count: infinite;
     background-size: cover;

}

h3 {
 color: white; 
}
