
<div class="header">
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KIDS CAMP</h2>

</div>
<div class="header1">


</div>
<div class="container">

<div class="background-image">


</div>
    <div class="text">Your Text</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="it">
<div class="item">
<%= link_to image_tag('register.png'), 'https://clg.churchcenter.com/home' %> 
<span class="caption">Click Here To Register For The Kids Camp</span>
</div>
</div>
<div class="ti">
<div class="item1">
<%= link_to image_tag('screen.png'), 'https://www.clglife.org/' %> 
<span class="caption">Click Here To See Our Church &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wesbite</span>
</div>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>

